<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <script src="/main.js" ></script>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="white-bg">
      <div class="chat-screen">
        <% if(chats.length == 0) { %>
          <div class="firstChat">첫번째 채팅을 시작하세요!</div>
        <% } %>

        <% if(chats && chats.length > 0) { %>
          <script>
            // 첫번째 채팅이 시작되면 alert 문구 삭제
            document.querySelector(".firstChat").style.display ="none"
          </script>
          <% for(let i=0; i<chats.length; i++) { %>
            <div class="chat-box <%= (chats[i].userId == String(requestedUserId)) ? 'mine' : 'yours' %>"> 
              <% if(chats[i].userId == String(requestedUserId)) { %>
                <span><%= chats[i].date %></span>
                <img src="<%=userimg%>" class="userIMG"></img>
                <div class="yourChat"><%= chats[i].userName %>: <%= chats[i].chats %></div>
                <% } else { %>
                <img src="<%=yourimg%>" class="writerIMG"></img>
                <div class="writerChat"><%= chats[i].userName %>: <%= chats[i].chats %></div>
                <span><%= chats[i].date %></span>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <div class="chat-form">
      <input class="chat-input" placeholder="메세지를 입력하세요." autofocus/>
      <input class ="chat-button" type="button" value="전송"></input>
    </div>

    <!-- 소켓 io 세팅 -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      // 유저의 웹소켓 연결코드
      const socket = io();
      
      // chat.js가 보내준 현재 채팅룸 id, 유저 ID, username
      let roomID = "<%= roomId %>"
      let userID = "<%= requestedUserId %>"
      let username = "<%= username %>"
      let yourImg = "<%=yourimg%>"
      let userImg = "<%=userimg%>"
     
      // 1번
      let userInput = document.querySelector('.chat-input')

      // 1.전송 버튼 클릭으로 메세지 전송
      document.querySelector(".chat-button").addEventListener("click", function() {
        if(userInput.value.trim() !== "") {
          sendchats()
        }
      })

      // 2.enter키로 메세지 전송
        userInput.addEventListener("keydown", function(e){
          if(e.keyCode===13 && !e.shiftKey&& userInput.value.trim() !== "") {
          sendchats()
        } else if(e.keyCode === 13 && e.shiftKey) {
          e.preventDefault();
        } 
        })

      // 메세지 전송 함수
        function sendchats() {
          // 입력값 가져오기
          let inputValue = userInput.value;

          // data
          let msgObject = {
            msg: inputValue,
            roomId: roomID,
            userId: userID,
            userName : username,
            date: new Date().toLocaleString(),
            yourImg: yourImg,
            userImg: userImg,
          }
          socket.emit('msg-send', msgObject);
          inputValue= "";
          location.reload(true) // 보낸 내용 바로 반영 확인 위해 리프레시
        }

      // 4번
      socket.on('msg-send', function(data) {
        let parsedData = JSON.parse(data) // JSON 문자열 -> javascript 객체
        let chatScreen= document.querySelector('.chat-screen')
        chatScreen.insertAdjacentHTML('beforeend',`<div class="chat-box"><div>${parsedData.msg}</div></div>`);
      });

    </script>
  </body>
</html>
