<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="white-bg">
      <div class="chat-screen">
        <% if(chats.length == 0) { %>
          <div class="firstChat">첫번째 채팅을 시작하세요!</div>
        <% } %>

        <% if(chats && chats.length > 0) { %>
          <script>
            // 첫번째 채팅이 시작되면 alert 문구 삭제
            document.querySelector(".firstChat").style.display ="none"
          </script>
          <% for(let i=0; i<chats.length; i++) { %>
            <div class="chat-box <%= (chats[i].userId == String(requestedUserId)) ? 'mine' : 'yours' %>"> 
              <% if(chats[i].userId == String(requestedUserId)) { %>
                <span><%= chats[i].date %></span>
                <img src="<%=userimg%>" class="userIMG"></img>
                <div><%= chats[i].userName %>: <%= chats[i].chats %></div>
                <% } else { %>
                <img src="<%=yourimg%>" class="writerIMG"></img>
                <div><%= chats[i].userName %>: <%= chats[i].chats %></div>
                <span><%= chats[i].date %></span>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <div class="chat-form">
      <input class="chat-input" placeholder="메세지를 입력하세요."/>
      <input class="chat-button" type="button" value="전송"></input>
    </div>

    <!-- 소켓 io 세팅 -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      // 유저의 웹소켓 연결코드
      const socket = io();
      
      // chat.js가 보내준 현재 채팅룸 id, 유저 ID, username
      let roomID = "<%= roomId %>"
      console.log('roomID', roomID)
      let userID = "<%= requestedUserId %>"
      console.log('userId', userID)
      let username = "<%= username %>"
      console.log('username', username)
      let yourImg = "<%=yourimg%>"
      console.log("상대방 이미지", yourImg)
      let userImg = "<%=userimg%>"
      console.log("유저 이미지",userImg)
      
      let sendButton = document.querySelector('.chat-button')
      let userInput = document.querySelector('.chat-input')

      // 1번
      sendButton.addEventListener('click', function () {
          if (userInput.value) {

            // data
            let msgObject = {
              msg: userInput.value,
              roomId: roomID,
              userId: userID,
              userName : username,
              date: new Date().toLocaleString(),
              yourImg: yourImg,
              userImg: userImg,
            }

          socket.emit('msg-send', msgObject);
          userInput.value= "";
          console.log('클라에서 서버로 송신한 데이터', msgObject) // 브라우저 콘솔에 찍힘, Javascript 객체
          console.log("클라에서 서버 데이터 송신 완료") 
          location.reload(true) // 보낸 내용 바로 반영 확인 위해 리프레시
        }})
      
      // 4번
      socket.on('msg-send', function(data) {
        let parsedData = JSON.parse(data) // JSON 문자열 -> javascript 객체
        console.log('서버가 보낸 데이터 클라가 파싱', parsedData)
        console.log("클라에서 서버 데이터 수신 완료") // 브라우저 콘솔에 찍힘

        let chatScreen= document.querySelector('.chat-screen')
        chatScreen.insertAdjacentHTML('beforeend',`<div class="chat-box"><div>${parsedData.msg}</div></div>`);
      });

    </script>
  </body>
</html>
