<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="wholeWrapper">
      <div class="detailpgBg">
        <div class="detailpgTitle">
          <h4><%=result.title %></h4>
          <div class="detailpgTitle2">
            <% if(result.userImage) { %>
              <img src="<%= result.userImage %>"></img>
            <% } else { %>
              <img class="detailNullImg" src="/profile.png"></img>
            <% } %>
            <p><%=result.username%></p>
            <p><%=result.date%></p>
          </div>
        </div>
        <% if(loginuser==result.user) { %>
          <div class="detailpgEdit">
            <a class="detailEditBtn" href="/edit/<%=result._id%>"><img src="/edit2.png"> 수정</a>
            <a class="detailDeleteBtn" onclick="deletePost('<%=result._id%>')"><img src="/delete2.png"> 삭제</a>
          </div>
        <% } %>
        
        <textarea class="detailpgContent" disabled><%=result.content %></textarea>
        <img src="<%=result.img %>" class="detailpgImg"></img>
        <a href="/chat/request?writerId=<%=result.user%>&chatName=<%= result.title%>&postId=<%=result._id%>&writerImg=<%=result.userImage%>" class="gotoChat"> 글 작성자와 채팅하기 💬</a>
      </div>
      
      <div class="comment-wrapper">
        <div class="commentTitle">
          <div><strong>댓글 목록</strong></div>
          <div class="commentsNum"><%= comment.length%>개</div>
        </div>
        
          <% for(let i=0; i<comment.length; i++) { %>
            <div class="comment-box">
              <div><strong><%=comment[i].writer %></strong></div>
              <% if(comment[i].writerId.equals(result.user)) { %>
                <div class="comment">
                  <span class="commentWriter">글쓴이</span>
                  <div><%=comment[i].comment %></div>
                  <span><%=comment[i].date %></span>
                  <span class="deleteComment" onclick="deleteComment('<%=comment[i]._id%>')">댓글삭제</span>
                </div>
              <% } else { %>
                <div><%=comment[i].comment %></div>
                <span><%=comment[i].date %></span>
                <span class="deleteComment">댓글삭제</span>
              <% } %>
            </div>
          <% } %>
        <form
        action="/detail/comment"
        method="POST"
        class= "detailpgForm"
      >
        <input name="comment" placeholder="댓글을 작성하세요." autofocus/>
        <input name="parentId" 
        style="display: none" value="<%=result._id %>"/>
        <button type="submit" class="submitBtn">댓글작성</button>
        </form>
      </div>
      <%- include('footer.ejs')%>
    </div>
   
  </body>
</html>

<!-- 게시글 삭제기능 -->
<script>
function deletePost(docId) {
  let isConfirmed = window.confirm('게시물을 삭제하시겠습니까?');
  if (isConfirmed) {
    fetch('/delete?docId=' + docId, {
      method: 'DELETE',
    })
    // 반드시 서버에 요청을 보내고 then을 통해 응답을 받아야 함!!
    .then((res) => {
      if (res.status === 200) {
        return res.text();
      } else {
        throw new Error('삭제 요청 실패');
      }
    })
    .then((data) => {
      console.log('삭제 완료:', data);
      window.location.href = "/list/total";
    })
    .catch((error) => {
      console.error("오류 발생", error);
    });
  }
}
</script>

<!-- 댓글 삭제 기능 -->
<script>
function deleteComment(commentId) {
  let isConfirmed = window.confirm('댓글을 삭제하시겠습니까?');
  if(isConfirmed) {
    fetch('/delete/comment?commentId=' + commentId, {
      method: 'DELETE',
    })
    .then((res) => {
      if (res.status === 200) {
        return res.text();
      } else {
        throw new Error('삭제 요청 실패');
      }
    })
    .then((data) => {
      console.log('댓글 삭제 완료:', data);
      window.location.reload();
    })
    .catch((error) => {
      console.error("오류 발생", error);
    });
  }
}
</script>
