<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="white-bg">
      <h4><%=result.title %></h4>
      <p class="detailpgContent"><%=result.content %></p>
      <img src="<%=result.img %>"></p>
      <a href="/chat/request?writerId=<%=result.user%>&chatName=<%= result.title%>"> 💬 글 작성자와 채팅하기</a>
    </div>
    
    <div class="comment-wrapper">
      <h4>댓글 목록</h4>
        <% for(let i=0; i<comment.length; i++) { %>
          <div class="comment-box">
            <div><strong><%=comment[i].writer %></strong></div>
            <div><%=comment[i].comment %></div>
            <div class="comment"><%=comment[i].date %></div>
          </div>
        <% } %>


      <form
      action="/detail/comment"
      method="POST"
      class= "detailpgForm"
    >
      <input name="comment" placeholder="댓글을 작성하세요."/>
      <input name="parentId" 
      style="display: none" value="<%=result._id %>"/>
      <button type="submit">댓글작성</button>
      </form>
    </div>
  </body>
</html>
