<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/main2.css" rel="stylesheet" />
  </head>
  <body class="lightLayout">
    <%- include('header.ejs')%>
    <!-- 전송 버튼 누르면 서버로 전송, 서버는 확인 후 DB 수정 -->
    <!-- method-override 사용하면 /edit?_method=PUT 사용 가능 -->

    <div class="innerLayout">
      <form class="form-box" action="/edit?_method=PUT" method="POST">
        <h4 class="formbox-title">수정하기</h4>
        <input name="id" value="<%= result._id %>" style="display: none" />
        <input class="editTitle" name="title" value="<%= result.title %>" />
        <textarea class="writeContent" name="content">
<%= result.content %></textarea
        >
        <div class="form-box-btnContainer">
          <button class="customBtn" type="submit">전송</button>
        </div>
      </form>
    </div>
    <%- include('footer.ejs')%>
  </body>
</html>

<!-- 게시글 수정 기능 -->
<script>
  let input = document.querySelector('.editTitle');

  // 1. 엔터키로 전송 막기
  input.addEventListener('keydown', function (e) {
    if (e.keyCode === 13) {
      e.preventDefault();
    }
  });

  // 2.전송 버튼 클릭으로 메세지 전송
  input.addEventListener('click', function (e) {
    if (value.trim() == '') {
      e.preventDefault();
    } else {
      document.querySelector('.submit').click();
    }
  });
</script>
